<h1>Edit your job here!</h1>
<% if current_user %>
	<%= form_for @job do |b| %>
		<!-- now we can add a field for boat ID or better yet boat name -->
	    <%= b.text_field :name, placeholder: "Name" %><br>
	    <%= b.text_field :containers_needed, placeholder: "Containers Needed" %><br>
	    <%= b.text_field :cargo, placeholder: "Cargo" %><br>
	    <%= b.text_field :cost, placeholder: "Cost" %><br>
	    <%= b.text_field :destination, placeholder: "Destination" %><br>
	    <%= b.text_field :boat_id, placeholder: "Choose boat" %><br>
	    <%= b.submit :update, value: "Update Job"%>
	<% end %>
<% end %>	