<h1 align="center">This is a list of all available jobs</h1>

<% @jobs.each do |b| %>
<div id="job">
    <p>JOB NAME: <%= link_to(b.name, job_path(b.id), method: :get) %></p>
    <p>CONTAINERS NEEDED: <%= b.containers_needed %></p>
    <p>CARGO: <%= b.cargo %></p>
    <p>COST: $ <%= b.cost %></p>
    <p>ORIGIN: <%= b.origin %></p>
    <p>DESTINATION: <%= b.destination %></p>
    <p><%= link_to("Delete Job", job_path(b.id), method: :delete) %></p>
</div>
<% end %>

