<h1>This is where you see the job's details.</h1>

<%= @job.name %>
<%= @job.containers_needed %>
<%= @job.cargo %>
<%= @job.cost %>
<%= @job.destination %>


<% if current_user.id == @job.user_id %>
    <%= link_to("Edit Job", edit_job_path(@job.id), method: :get) %>
    <%= link_to("Delete Job", job_path(@job.id), method: :delete) %>
<% end %>


<ul>
	<p>ID | NAME | CAPACITY | LOCATION </p>
	<% @jobs.each do |b| %>
    	<li>
    	<%= b.name %>
    	<%= b.containers_needed %>
    	<%= b.cargo %>
    	<%= b.cost %>
    	<%= b.destination %>
        <%= form_for Job.find(params[:id]) do |job| %>
        	<!-- ideally we will have boat name not boat id -->
			<%= job.text_field :boat_id, :placeholder => "Enter Boat ID" %><br>
			<%= job.submit :update %>
		<% end %>
    	</li>
	<% end %>
</ul>