<h1 align="center">This is where you see the job's details.</h1>
<div id="job">
	<%= @job.name %>
	<%= @job.containers_needed %>
	<%= @job.cargo %>
	<%= @job.cost %>
	<%= @job.destination %>
	<%= form_for @job, method: :put do |job| %>
	        	<!-- ideally we will have boat name not boat id -->
				<%= job.text_field :boat_id, :placeholder => "Enter Boat ID" %><br>
				<%= job.submit :update %>
			<% end %>



	<% if current_user.id == @job.user_id %>
	    <%= link_to("Edit Job", edit_job_path(@job.id), method: :get) %>
	    <%= link_to("Delete Job", job_path(@job.id), method: :delete) %>
	<% end %>
</div>

