<h1>This is a test!</h1>
<h2>I like turtles!</h2>


<% if user_signed_in? %>
    
    <ul>    
    <% @boats.each do |b|%>
        <li>
        <%= b.id %>
        <%= b.name %>
        <%= b.capacity %>
        <%= b.location %>
        <%= link_to("Boat Info", edit_boat_path(b.id), method: :get) %>
        <%= link_to("Delete Boat", boat_path(b.id), method: :delete) %>
        </li>
    <% end %>
    </ul>
<% end %>
    