<h1>This is a test!</h1>
<h2>I like turtles!</h2>

<p>style these links and navbar:</p>

<% if user_signed_in? %>
    <%= link_to("HOME", "/", method: :get) %>
	<%= link_to("Create New Boat", new_boat_path(user_id: current_user.id), method: :get) %>
	<%= link_to("Create New Job", new_job_path(user_id: current_user.id), method: :get) %>

	<%= link_to("View Your Boats", boats_path(user_id: current_user.id), method: :get) %>
	<%= link_to("View All Jobs", jobs_path, method: :get) %>
<% else %>
	<%= link_to("HOME", "/", method: :get) %>
<% end %>
    