<h1>This is where you create a boat!</h1>

<%= form_for @boat do |b| %>
    <%= b.text_field :name, placeholder: "Name" %><br>
    <%= b.text_field :capacity, placeholder: "Capacity" %><br>
    <%= b.select :location, ["London", "Oakland", "Long Beach", "New York", "Singapore", "Thailand", "Vietnam", "Albuquerque", "Hamburg", "Newcastle", "Marseille", "St. Tropez", "Cannes", "Rome"] %><br>
    <%= b.submit :create, value: "Create Boat"%>
<% end %>