<h1>Boat Info</h1>

<p>BOAT ID: <%= @boat.id %></p>
<p>NAME: <%= @boat.name %></p>
<p>CAPACITY: <%= @boat.capacity %></p>
<p>LOCATION: <%= @boat.location %></p>
<br><br>

<p><%= link_to("Edit Boat", edit_boat_path(@boat.id), method: :get) %></p>
<p><%= link_to("Delete Boat", boat_path(@boat.id), method: :delete) %></p>
