<!DOCTYPE html>
<html>
<head>
  <title>ShipApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header>
        <nav>
        <% if user_signed_in? %>
            <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
            <%= link_to("HOME", "/", method: :get) %>
            <%= link_to("Create New Boat", new_boat_path(user_id: current_user.id), method: :get) %>
            <%= link_to("Create New Job", new_job_path(user_id: current_user.id), method: :get) %>
            <%= link_to("View All Boats", boats_path, method: :get) %>
            <%= link_to("View All Jobs", jobs_path, method: :get) %>
            <%= link_to("View Your Profile", profile_path(current_user.id), method: :get) %>
        <% else %>
            <%= link_to "Log In", user_session_path, method: :post %>
            <%= link_to "Sign Up", new_user_registration_path, method: :get %>
            <%= link_to("HOME", "/", method: :get) %>
        <% end %>
        </nav>
    </header>
    <% if flash[:notice] %>
        <%= flash[:notice] %>
    <% end %>
    
    <% if flash[:alert] %>
        <%= flash[:alert] %>
    <% end %>

<div class="container">    
<%= yield %>
</div>

</body>
</html>
